<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title style="background-color: rgb(78, 77, 77);">Deepak Sarangi | PortFolio</title>
        <link rel="icon" href="images/deepak.jpg">
        <link rel="stylesheet" href="css/styles.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    </head>
    <body style="background: linear-gradient(to right, #33ccff 0%, #99ff99 100%); background-repeat: no-repeat; padding: 0px;">
        <div class="fixed-top" style="margin: 2% 2% 4%;">
            <nav class="navbar navbar-expand-lg shadow" style="margin: 2% 20%;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                  data-bs-target="#mySidenav" aria-controls="navbarTogglerDemo01" 
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon" style="color: white;"> 
                    <i class="fa-solid fa-bars"></i> 
                  </span>
                </button>
                <div id="mySidenav" class="collapse navbar-collapse sidenav">
                    <ul>
                        <li><a class="nav-link" href="#header" id="about">About</a></li>
                        <li><a class="nav-link" href="#more" id="details">Details</a></li>
                        <li><a class="nav-link" href="#credentials" id="certificates">Certificates</a></li>
                        <li><a class="nav-link" href="#footer" id="contact">Contact</a></li>
                        <li><a class="nav-link" href="/thank_you" id="thank_you">End</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-11">
                <div id="header" style="display: inline-flex; margin: 50px 30px 50px 90px;">
                    <img class="shadow shadow-lg" src="images/deepak.jpg" style="height: 27%; width: 27%; border-radius: 50%; object-fit: cover;">
                    <div style="display: inline; padding-left: 7%; margin-right: 5px;">
                        <h1 style="color: deeppink; font-size: 50px;">Hi!</h1>
                        <h3 style="color: rgb(47, 52, 199); font-size: 30px;">I am Deepak Sarangi</h3>
                        <h4 style="color: rgb(148, 102, 212); font-size: 25px;">A FullStack Web Developer</h4>
                        <h4 style="color: rgb(244, 33, 33); font-size: 22px;">Founder,FutureGen Company</h4>
                        <p style="color: grey; font-size: 17px;">
                            A B.Tech(Batch- 2019-2023) Electronics Communication & Electrical Engineering Student of
                            Maharaja Surajmal Institute of Technology,Guru Gobind Singh Indraprastha University, New Delhi.
                            <br>
                            I live in New Delhi, India since my childhood. I have done my schooling from Kendriya Vidyalaya,
                            I.N.A Colony, New Delhi-110023. I passed Class 12th in 2018.
                            <br>
                            IIT-JEE Mains(2018) Rank - nearly 92000 appear for IIT-JEE Advanced
                            <br>
                            IIT-JEE Mains(2019) Percentile - nearly 92%
                            <br>
                            Also given the exams of National Defence Academy(NDA) four times from which only once gone for 
                            SSB(Service Selection Board) Test in Gandhinagar Air Force Station, Gujarat.
                            <br>
                            I am Fluent in Hindi, Advanced in English and Beginner to Korean(Hangeul-한글, Korean-받침) as Foreign Language.
                        </p>
                        <div style="margin-left: -280px; display: inline-flex;">
                            <div>
                                <h4 class="heading" style="color: white;">Educational Qualifications</h4>
                                <li>Graduation(B.Tech) - 2019-2023 - 90.3% till 6th Sem</li>
                                <li>Class 12th - 2017-2018 - 83.8%</li>
                                <li>Class 10th - 2015-2016 - 10.0 CGPA(95%)</li>
                            </div>
                            <div style="padding-left: 5%;">
                                <h4 class="heading" style="color: white;">Projects</h4>
                                <li>General Purpose AI for Personal Use</li>
                                <li>Calmandcode - E-commerce Food Delivery Website(Internship Project, not published yet).</li>
                                <li style="display: inline-flex;">SocialBits <p style="font-weight: bold;">(Ongoing)</p> - Project in Web Development.</li>
                            </div>
                            <div style="padding-left: 5%;">
                                <h4 class="heading" style="color: white;">Experience</h4>
                                <li>Web Development Internship - 13th July 2022-14th September 2022 at Solar Secure Solutions</li>
                                <li>Data Science Internship - September 2021-October 2021 at The Sparks Foundations</li>
                                <li>Social Media Internship - April 2021-October 2021 at ONLEI Technologies</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more" style="display: inline-flex; margin: 2% 3% 2% 18%;">
                    <div class="flex-items">
                        <h4 class="heading" style="color: white;">Interests</h4>
                        <li>Web Development</li>
                        <li>Android Development</li>
                        <li>Game Development</li>
                        <li>Fashion Industry</li>
                        <li>Entertainment Industry</li>
                        <li>Sports</li>
                        <li>Hospitality</li>
                        <li>Food & Beverage Industry</li>
                    </div>
                    <div class="flex-items" style="text-align: justify; padding-left: 5%;">
                        <h4 class="heading" style="color: white;">Leading Responsibilities</h4>
                        <li>Class Representative of the class since 1st Sem in graduation.</li>
                        <li>Class Monitor in school from class 6th to 9th and then in class 12th.</li>
                        <br>
                        <h4 class="heading" style="color: white;">Other&nbsp;Hobbies</h4>
                        <li>Reading Books</li>
                        <li>Listening Music</li>
                        <li>Exploring New Places</li>
                    </div>
                </div>
            </div>
        </div>
        <section id="credentials" style="margin: 2% 20%;">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h3 style="color: white; font-size: 30px; font-style: italic;">Python&nbsp;Programming Course</h3>
                        <br>
                        <div style="margin-top: 10px;">
                            <img class="certi-image" src="images/python.jpg">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h3 style="color: white; font-size: 30px; font-style: italic;">FullStack&nbsp;Web Development Course</h3>
                        <br>
                        <div style="margin-top: 10px;">
                            <img class="certi-image" src="images/webd.jpg">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h3 style="color: white; font-size: 30px; font-style: italic;">Data&nbsp;Science Internship</h3>
                        <br>
                        <div style="margin-top: 10px;">
                            <img class="certi-image" src="images/dasc-internship.png">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h3 style="color: white; font-size: 30px; font-style: italic;">FullStack&nbsp;Web Development&nbsp;Internship</h3>
                        <br>
                        <div style="margin-top: 10px;">
                            <img class="certi-image" src="images/webdev.jpg">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h3 style="color: white; font-size: 30px; font-style: italic;">Korean&nbsp;Language Course</h3>
                        <br>
                         <div style="margin-top: 10px;">
                            <img class="certi-image" src="images/kor-course.jpg">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="margin: 5px 6px 0px -8px; color: black;"></span>
                    </a>
                    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" style="margin: 5px -8px 0px 6px; color: black;"></span>
                    </a>
                </div>
            </div>
        </section>

        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-caret-up" style="font-weight: bold;"></i></button>
        
        <script>
            let mybutton = document.getElementById("myBtn");
            window.onscroll = function(){
                scrollFunction()
            };
            function scrollFunction(){
              if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
              }else{
                mybutton.style.display = "none";
              }
            };
            function topFunction(){
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
        </script>
        <section id="footer" style="margin: 0% 25%;">
            <div style="display: inline-flex;">
                <div style="padding: 4% 10%;">
                    <i class="fa fa-phone" aria-hidden="true" style="padding: 0% 0% 2% 20%;"></i>
                    <h5 style="font-size: 15px; font-weight: bold; margin-left: -10%;"> 
                        Call or WhatsApp on
                        +91&nbsp;9868378701 
                    </h5>
                </div>
                <div class="social-links">
                    <a class="media-link" href="https://www.linkedin.com/in/deepak-sarangi-4a666a1ba?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BhAT5gga8Q86ufpxIU7Q2kQ%3D%3D" target="_blank">
                        <i class="social-icon fab fa-linkedin media-icon"></i>
                    </a>
                    <a class="media-link" href="https://facebook.com/deepaksarangi29701" target="_blank">
                        <i class="fa-brands fa-facebook media-icon"></i>
                    </a>
            
                    <a class="media-link" href="https://instagram.com/deepak_sarangi" target="_blank">
                        <i class="social-icon fab fa-instagram media-icon"></i>
                    </a>
                    
                    <a class="media-link" href="mailto: deepak29701@gmail.com?subject = Feedback&body = Message" target="_blank">
                        <i class="social-icon fas fa-envelope media-icon"></i>
                    </a>
                </div>
                
            </div>
        </section>
    </body>
</html>
