li{
    color: rgb(255, 128, 149);
}
button:focus{
    border: none;
    outline: none;
}
.social-links{
    margin: 2% 1%;
    display: inline-flex;
    padding: 0.5%;
}
.social-links .media-link{
    color: white;
    margin: 20px 15px;
}
.media-icon:hover{
    color: #2196F3;
}
.media-icon{
    height: 25px;
    width: 25px;
}
.certi-image{
    width: 100%;
}
.carousel-item{
    padding: 7% 18%;
}
.flex-items{
    padding: 0% 2%;
}
.heading{
    font-style: italic;
    font-family:cursive;
    text-align: center;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 5px 10px;
    margin: 2% 31.5% 2% 32%;
}
.navbar-item{
    list-style-type: none;
    padding: 5px;
}
.nav-link{
    color: white !important;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
#about:hover{
    border-radius: 40px;
    background-color: rgb(255, 0, 157);
}
#details:hover{
    border-radius: 40px;
    background-color: #2196F3;
}
#certificates:hover{
    border-radius: 40px;
    background-color: #f44336;
}
#contact:hover{
    border-radius: 40px;
    background-color: #555;
}
#thank_you:hover{
    border-radius: 40px;
    background-color: #00FFD1;
}
.container{
    margin: 3% 0% 2%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.container span{
    display: block;
}
.text1{
    color: #33ccff;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    animation: text 5s 1;
}
.text2{
    color: green;
}
@keyframes text {
    0% {
        color: #f44336;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 10px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
#myBtn{
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    font-size: 23px;
    border: none;
    outline: none;
    background-color: transparent;
    color: blue;
    cursor: pointer;
    padding: 5px;
    border: 3px solid blue;
    border-radius: 50%;
    width: 40px;
}

#myBtn:hover{
    border-color: #33ccff;
    color: #33ccff;
}
#credentials{ 
    background-color: #A5F1E9; 
    background-attachment: fixed; 
    background-repeat: none;
}
.certi-heading{
    color: white;
    font-weight: bold;
    font-size: 31px; 
    font-style: italic;
}
.header{
    background-attachment: fixed; 
    background: linear-gradient(to right, #33ccff 0%, #99ff99 100%); 
    background-repeat: no-repeat; 
    margin-bottom: 0px;
}
.more-details{
    margin: 0px 22px;
}
#footer{
    padding: 3% 7%;
    background-color: black; 
    background-attachment: fixed; 
    background-repeat: none;
}
.footer-details{
    padding: 2% 5%;
}
.carousel-control-next{
    margin: 5px -8px 0px 6px; 
    color: purple !important;
    font-weight: bold;
    font-size: 40px;
}
.carousel-control-prev{
    margin: 5px 6px 0px -8px; 
    color: purple !important;
    font-weight: bold;
    font-size: 40px;
}
.image-pad{
    padding: 1% 45%;
}
